.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  color: #999 !important;
}

.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice {
  background-color: #f5c03d !important;
}

.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice__remove {
  background-color: #f09e00 !important;
  border-color: #f09e00 !important;
}

.form-control-line {
  display: flex;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  line-height: 0;
  color: #4f5467;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #bfbfbf;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #040303 !important;
}

body {
  margin: 0;
  overflow-x: hidden;
  color: #3e5569;
  background: #edd5bf75;
}
.bg-blue {
  background-color: blue;
}
.bg-cyan {
  background-color: cyan;
}
.bg-orange {
  background-color: #f29136;
}
.bg-aqua {
  background-color: #00ffff;
}
.card-color {
  background-color: #f29136;
  border-radius: 10px;
}
.maintenance-btn label {
  color: #000000;
  font-size: 18px;
}

.cust_check::after,
.cust_check::before {
  margin-top: 20px;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}

#maintenance-modal .modal-header {
  display: initial;
  background: #0f7321;
  color: #fff;
}

#maintenance-modal .modal-title {
  text-align: center;
  font-size: 22px;
}

#maintenance-modal .modal-header .close {
  margin: -27px 0 0;
  padding: 0;
}

#maintenance-modal p {
  font-size: 14px;
}

#maintenance-modal .btn-primary {
  font-size: 16px;
  padding: 5px 20px;
  margin: 0 auto;
  display: block;
  border-radius: 5px;
}

#maintenance-modal label {
  font-weight: 500;
  color: #fff;
  font-size: 16px;
}

.pro-pic img {
  height: 45px;
  width: 45px;
}

#main-wrapper[data-layout="vertical"] .left-sidebar[data-sidebarbg="skin1"],
#main-wrapper[data-layout="vertical"] .left-sidebar[data-sidebarbg="skin1"] ul,
#main-wrapper[data-layout="horizontal"] .left-sidebar[data-sidebarbg="skin1"],
#main-wrapper[data-layout="horizontal"]
  .left-sidebar[data-sidebarbg="skin1"]
  ul {
  background: #732600;
}

.sidebar-nav ul .sidebar-item .sidebar-link {
  color: #fff;
  padding: 13px 15px;
  display: flex;
  white-space: nowrap;
  align-items: center;
  line-height: 25px;
  opacity: 0.8;
}

.topbar .top-navbar .navbar-header .navbar-brand {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 10px;
  background-color: #ffffff;
}

#main-wrapper[data-layout="vertical"]
  .topbar
  .top-navbar
  .navbar-header[data-logobg="skin1"],
#main-wrapper[data-layout="horizontal"]
  .topbar
  .top-navbar
  .navbar-header[data-logobg="skin1"] {
  background-color: #000000;
}

#main-wrapper[data-layout="vertical"]
  .topbar
  .top-navbar
  .navbar-header[data-logobg="skin1"],
#main-wrapper[data-layout="horizontal"]
  .topbar
  .top-navbar
  .navbar-header[data-logobg="skin1"] {
  background: #000000;
}

.sidebar-nav .has-arrow::after {
  border-color: #f8d6d7;
}

.sidebar-nav ul .sidebar-item .sidebar-link i {
  transform: scale(0.8);
}

@media (hover: hover) and (pointer: fine) {
  .sidebar-nav ul .sidebar-item .sidebar-link:hover {
    margin-left: -5px;
    background-color: #f29136;
    color: #ffffff;
    transition: all 0.2s ease-in-out;
    border: none;
  }

  .sidebar-nav ul .sidebar-item .sidebar-link:hover i,
  .sidebar-nav ul .sidebar-item .sidebar-link.active i {
    transform: scale(1.2);
    color: #ffffff;
    opacity: 1;
  }
}

.sidebar-nav ul .sidebar-item .sidebar-link.active {
  background: #f29136;
  color: #ffffff;
}

.badge {
  border-radius: 5px;
}

.footer {
  padding: 15px 20px;
  background-color: #f8eb0c00;
}

.page-breadcrumb {
  padding: 20px 20px 0;
  background-color: #f8eb0c00;
}

.page-wrapper > .container-fluid {
  padding: 20px;
  min-height: calc(100vh - 180px);
  background-color: #f8eb0c00;
}

.page-wrapper {
  background: #f8eb0c00;
  position: relative;
  display: none;
}

#main-wrapper[data-layout="vertical"]
  .topbar
  .navbar-collapse[data-navbarbg="skin6"],
#main-wrapper[data-layout="vertical"] .topbar[data-navbarbg="skin6"],
#main-wrapper[data-layout="horizontal"]
  .topbar
  .navbar-collapse[data-navbarbg="skin6"],
#main-wrapper[data-layout="horizontal"] .topbar[data-navbarbg="skin6"] {
  background: #ffffff;
}

.btn-group > .btn:first-child,
.dropdown-toggle-split::after,
.dropright .dropdown-toggle-split::after,
.dropup .dropdown-toggle-split::after {
  margin-left: 0;
  background-color: gray;
  color: white;
  border: 0;
}

.btn {
  border-radius: 5px;
}

.btn-outline-danger {
  color: #850010;
  background-color: transparent;
  border-color: #850010;
}

.btn-outline-danger:hover {
  color: #fff;
  background-color: #850010;
}

.btn-info {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}

.btn-info:hover {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}

.btn-info:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled):active,
.show > .btn-info.dropdown-toggle {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}

.bg-primary {
  background-color: #f29136 !important;
}

.bg-alternate {
  background-color: #732600 !important;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before,
.custom-checkbox
  .custom-control-input:indeterminate
  ~ .custom-control-label::before {
  background-color: #f29136;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #f29136;
  border-color: #f29136;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #f29136;
}

a {
  color: #f2575d;
}

a:hover {
  color: #f2575d;
}

/*.badge-danger {
    color: #fff;
    background-color: #850010;
  }*/

.card {
  border-radius: 0.75rem;
}

.card .card-header:nth-child(1)   {
  border-radius: 0.75rem!important;
}

.select2-container--default
  .select2-results__option--highlighted[aria-selected] {
  background-color: #f29136 !important;
  color: white;
}

.btn-primary {
  background-color: #f29136;
  border-color: #f29136;
}

.btn-primary:hover {
  background-color: #f29136;
  border-color: #f29136;
}

.btn-danger {
  color: #fff;
  background-color: #850010;
  border-color: #850010;
}

.thead-info {
  background: #7c6880;
  font-weight: bold;
  color: #ffffff;
}

.table-hover tbody tr:hover {
  background-color: #e4dbff;
  font-size: 1.1rem;
}

.navbar-dark .navbar-brand,
.navbar-dark .navbar-brand:focus,
.navbar-dark .navbar-brand:hover {
  color: #f29136;
}

.bg-info {
  background-color: #aa7b15 !important;
}

.btn-outline-info:not(:disabled):not(.disabled):active,
.show > .btn-outline-info.dropdown-toggle {
  color: #fff;
  background-color: #808080;
  border-color: #808080;
}

.btn-outline-primary {
  color: #808080;
  background-color: transparent;
  border-color: #808080;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #808080;
  border-color: #808080;
}

.btn-outline-primary:hover {
  background-color: #808080;
  border-color: #808080;
}

.btn-info:focus {
  box-shadow: 0 0 0 0.2rem rgb(49 48 46);
}

.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #c98508;
  border-color: #834900;
}

.page-link {
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #850010;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.btn:not(:disabled):not(.disabled),
.navbar-toggler:not(:disabled):not(.disabled),
.page-link:not(:disabled):not(.disabled),
summary {
  cursor: pointer;
}

.page-link:focus {
  z-index: 2;
  outline: 0;
  box-shadow: transparent;
}

.page-link:hover {
  z-index: 2;
  color: #850010;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.dataTables_wrapper .dt-buttons {
  width: 100%;
}

.dataTables_wrapper .flex-wrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row-reverse;
}

div.dataTables_wrapper div.dataTables_filter {
  text-align: right;
}

.navbar .navbar-nav > .nav-item > .nav-link {
  padding: 0 15px;
  font-size: 0.875rem;
  line-height: 64px;
  height: 64px;
  color: #000000;
}

.btn-success {
  color: #fff;
  background-color: #f29136;
  border-color: #f29136;
}

.btn-success:hover {
  color: #fff;
  background-color: #0f7321;
  border-color: #0f7321;
}

.btn-success:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #0f7321;
  border-color: #0f7321;
}
