input.parsley-success,
select.parsley-success,
textarea.parsley-success {
    color: #468847;
    /*background-color: #DFF0D8;*/
    border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
    color: #B94A48;
    /*background-color: #F2DEDE;*/
    border: 1px solid #EED3D7;
}

.parsley-errors-list {
    margin: 8px 0 3px;
    padding: 0;
    list-style-type: none;
    font-size: 75%;
    line-height: 0.9em;
    opacity: 1;
    font-size: 75% !important;
    color: #e63757;
}

.parsley-errors-list.filled {
    opacity: 1;
}